<section class="wizardcard">
  <img src="assets/images/Banner_Bg.png" class="banner-bg" />
  <img src="assets/images/Banner_img.png" class="banner-img" />
  <section class="banner-heading">
    <article class="microseriveces-heading">Mircorservices Application Composer</article>
    <article class="microseriveces-auth">A portal to compose ready-to-build Microservices based applications.</article>
    <article class="cover-heading">Choose the service incredients that best meet your target use-cases from an extensive repository of services.</article>
    <article class="cover-heading">You are few clicks away from start building a best-in-class platform indenpendent microservices solutions.</article>
      <a class="btn-learn cursor-pointer" (click)="goToCatalog()">
        <button type="button" class="btn btn-secondary">COMPOSE MY APP</button>
        <img src="assets/images/Learn btn icon.png" class="learn-img" />
      </a>
  </section>
</section>

<section class="featured-area contentStyle">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="single-feature d-flex flex-wrap justify-content-between">
          <div class="icon">
            <img src="assets/images/features.png" alt="">
          </div>
          <div class="desc">
            <h4>Features</h4>
            <ul>
              <li><p>A Quick Starter Kit for a Microservices architecture based applications</p></li>
              <li><p>Provides Foundation Service, templates, scaffolding codes out-of-the-box</p></li>
              <li><p>Follows pluggable architectural model</p></li>
              <li><p>Built on tools and libraries used by pioneers in the Microservices space</p></li>
              <li><p>Containerized</p></li>
              <li><p>Deployable on all major PaaS platforms</p></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="single-feature d-flex flex-wrap justify-content-between">
          <div class="icon">
            <img src="assets/images/benefits.png" alt="">
          </div>
          <div class="desc">
            <h4>Benefits</h4>
            <ul>
              <li><p>Reduces the application design effort considerably</p></li>
              <li><p>Not bound to a particular platform or tool</p></li>
              <li><p>Standard based, improves quality</p></li>
              <li><p>Plenty of options to choose from</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>