<div class="container row justify-content-md-center">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <div class="card wizardcard">
      <div class="card-header title">
        <h5 *ngIf="buildInProgress">Finishing Your Build</h5>
        <h5 *ngIf="!buildInProgress">Build Finished!</h5>
      </div>
      <div class="card-block container content-block mainContent">
      	<div class="col-md-12 text-center" *ngIf="buildInProgress">
      		<img src="assets/images/giphy.gif" class="processingImage" />
      		<p class="card-text text-muted">
          <br/>Please hold on while your build is being composed.</p>
      	</div>
        <div class="col-md-12 text-center" *ngIf="!buildInProgress">
        	<a href="{{downloadUrl}}">
        		<img src="assets/images/downloads.gif" class="processingImage" />
        	</a>
	        <p class="card-text text-muted">
	        <br/>&nbsp;Your build is ready, you can download it from
	          <a href="{{downloadUrl}}">here</a>.</p>
        </div>

        <div class="col-md-12 text-center text-muted" *ngIf="!buildInProgress && deployable">
          You can also do a test deployment. Click to do a <a [routerLink]="['/deploy']">test deployment</a> now.
          <!-- <a href="#/deploy">
            <img src="assets/images/try.png" class="processingImage" />
          </a> -->
        </div>
      </div>
      <div class="card-footer title text-right">
        <a class="btn btn-danger cursor-pointer" (click)="close()">Close</a>
      </div>
    </div>
  </div>
</div>