<header>
  <div class="row col-md-12">
    <a class="col-md-2" routerLink="/">
      <img src="assets/images/Logo.png" class="logo" />
    </a>
    <h1 class="col-md-10 heading">Microservices Application Composer</h1>
  </div>
  <hr/>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<div class="space-placeholder"></div>

<footer>
  <section class="footer-section">
    <article class="row">
      <article class="col-md-2"></article>
      <article class="footer-social-icons col-md-5">
        <a href="https://www.facebook.com/MphasisOfficial/" target="_blank">
          <img src="assets/images/facebook.png" class="navbar-brand social-icon" />
          <img src="assets/images/facebook-hover.png" class="navbar-brand social-icon-hover" />
        </a>
        <a href="https://twitter.com/Mphasis" target="_blank">
          <img src="assets/images/twitter.png" class="navbar-brand social-icon" />
          <img src="assets/images/twitter-hover.png" class="navbar-brand social-icon-hover" />
        </a>
        <a href="https://in.linkedin.com/company/mphasis" target="_blank">
          <img src="assets/images/linkedin.png" class="navbar-brand social-icon" />
          <img src="assets/images/linkedin-hover.png" class="navbar-brand social-icon-hover" />
        </a>
        <a href="https://www.youtube.com/user/MphasisOfficial" target="_blank">
          <img src="assets/images/youtube.png" class="navbar-brand social-icon" />
          <img src="assets/images/youtube-hover.png" class="navbar-brand social-icon-hover" />
        </a>
      </article>
      <article class="col-md-5 copyRights">
        &copy; 2017 Mphasis.All rights reserved.&nbsp;&nbsp;
        <a href="javascript:void(0)" target="_self">Privacy</a>&nbsp; | &nbsp;
        <a href="javascript:void(0)" target="_self">Terms of Use</a>
      </article>
    </article>
  </section>
</footer>