/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
    background-color: rgb(243,246,249);
}


header{
    background-color: #ffffff;
    height: 75px;
    padding: 17px 22px;
}
header img.card-avatar {
    margin-top: -17px;
}


footer {
    background-color:#35a8df;
    
}
footer img.navbar-brand {
    max-width: 42px;
    margin: 0 4px;
}
footer section {
    background: #00314f;
    color: #84a1af;
    font: 14px "robotolight",sans-serif;
    padding: 20px 0;
}
footer a:hover {
    text-decoration: none;
    color: #fff;
}
footer a {
    color:#84a1af;
}
footer .footer-social-icons a {
    margin: 0 3px;
}
footer .footer-social-icons a img.social-icon-hover {
    display: none;
}
footer .footer-social-icons a img.social-icon {
    display: inline;
}
footer .footer-social-icons a:hover img.social-icon-hover {
    display: inline;
}
footer .footer-social-icons a:hover img.social-icon {
    display: none;
}
footer .footer-social-icons img {
    width: 45px;
    height: 45px;
}
footer article.copyRights {
    padding-top: 15px;
}
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

main {
    position: relative;
    overflow-y: auto;
}

.space-placeholder {
    height: 50px;
}

.heading {
    margin-top: -10px;
    color:#35a8df
}