#TFS connection properties
teamProjectName=DET_TeamProject
targetserloc=D:\AIGTest\
CollectionUrl=https://tfs.corp.mphasis.com/tfs/MphasisCollection


#mention the changeset numbers
Sql_ChangesetIds=8696
Excel_ChangesetIds=
Pdf_ChangesetIds=
Artifacts_ChangesetId=
Config_ChangesetId=


#Default prefixes for creating folder.
Prefixsql=SQL_
PrefixExcel=Excel_
PrefixPdf =Pdf_
PrefixConfig=Config_
PrefixArtifacts=Artifacts_
SQLBatchFileName=AllSQLFiles.sql


#Database connection properties

DBServerInstancename =WKSBAN04GF52A\MSSQLSERVER1
DatabaseName=TFSTestDB
SQLUserId=sa
SQLPassword=Mphasis123
SQLLogPath=C:\AIG\Logs






