<header>
  <img src="assets/images/Logo.png" class="logo" />
</header>

<main>
  <section>
    <img src="assets/images/Banner_Bg.png" class="banner-bg" />
    <img src="assets/images/Banner_img.png" class="banner-img" />
    <section class="banner-heading">
      <article class="microseriveces-heading">Mircorservices Client Application</article>
      <article class="microseriveces-auth">This application is secured with OAuth2.</article>
      <article class="cover-heading">Cover is one-page template for builing simple and beautiful homepages.</article>
      <article class="cover-heading">Download, edit the content and add your own fullscreen background photo to make it your own.</article>
        <article class="btn-learn" (click)="navigateToMicroFrontEndsApp()">
          <button type="button" class="btn btn-secondary">LEARN</button>
          <img src="assets/images/Learn btn icon.png" class="learn-img" />
        </article>
    </section>
  </section>

  <!-- <block-oauth2-authorization-service-start> -->
  <section class="mat-card-section" *ngIf="loginPaletteVisible">
    <login-form (hideLogin)="hideLoginPalette()"></login-form>
  </section>
  <!-- <block-oauth2-authorization-service-end> -->
</main>

<div class="space-placeholder"></div>

<footer class="fixed-bottom">
  <section class="footer-section">
    <article class="row">
      <article class="col-md-2"></article>
      <article class="footer-social-icons col-md-5">
        <a href="https://www.facebook.com/MphasisOfficial/" target="_blank">
          <img src="assets/images/facebook.png" class="navbar-brand social-icon" />
          <img src="assets/images/facebook-hover.png" class="navbar-brand social-icon-hover" />
        </a>
        <a href="https://twitter.com/Mphasis" target="_blank">
          <img src="assets/images/twitter.png" class="navbar-brand social-icon" />
          <img src="assets/images/twitter-hover.png" class="navbar-brand social-icon-hover" />
        </a>
        <a href="https://in.linkedin.com/company/mphasis" target="_blank">
          <img src="assets/images/linkedin.png" class="navbar-brand social-icon" />
          <img src="assets/images/linkedin-hover.png" class="navbar-brand social-icon-hover" />
        </a>
        <a href="https://www.youtube.com/user/MphasisOfficial" target="_blank">
          <img src="assets/images/youtube.png" class="navbar-brand social-icon" />
          <img src="assets/images/youtube-hover.png" class="navbar-brand social-icon-hover" />
        </a>
      </article>
      <article class="col-md-5 copyRights">
        &copy; 2017 Mphasis.All rights reserved.&nbsp;&nbsp;
        <a href="javascript:void(0)" target="_self">Privacy</a>&nbsp; | &nbsp;
        <a href="javascript:void(0)" target="_self">Terms of Use</a>
      </article>
    </article>
  </section>
</footer>