<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<main th:fragment="main">
		<section>
    		<img th:src="@{/assets/images/Banner_Bg.png}" class="banner-bg" /> 
    		<img th:src="@{/assets/images/Banner_img.png}" class="banner-img" />
    		<section class="banner-heading">
        		<article class="microseriveces-heading">Mircorservices Template Application</article>
        		<article class="microseriveces-auth">This application is secured with OAuth2.</article>
        		<article class="cover-heading">Cover is one-page template for builing simple and beautiful homepages.</article>
        		<article class="cover-heading">Download, edit the content and add your own fullscreen background photo to make it your own.</article>
        		<a th:href="@{/microFrontendApp}">
        			<article class="btn-learn">
                		<button type="button" class="btn btn-secondary">LEARN</button>
                		<img th:src="@{/assets/images/Learn btn icon.png}" class="learn-img" />
        			</article>
        		</a>   
    		</section>
		</section>  
  	</main>
</body>
</html>