<div class="container row justify-content-md-center">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <div class="card wizardcard">
      <div class="card-header title">
        <h5>Confirm Your Services Selection</h5>
      </div>
      <div class="card-block container content-block mainContent" *ngIf="getAllSelectedServices().length > 0">
        <p class="card-text text-muted">
          <br/>&nbsp;The following service components will be included in the build, please verify and hit 'Checkout' to start
          your build.</p>
        <div class="container">
          <ul class="list-group">
            <li class="list-group-item justify-content-between" *ngFor="let node of getAllSelectedServices(); let i = index">
              <div class="form-check" [ngClass]="node.service.enabled ? '' : 'disabled'">
                <label class="form-check-label col-md-12">
                  <input class="form-check-input service-option" type="checkbox" [attr.disabled]="shouldDisableService(node.service.id) ? '' : null"
                    [attr.id]="node.service.id" (change)="serviceSelectionChanged($event.target)" [checked]="shouldSelectService(node.service.id)"> 
                     {{i + 1}}. {{node.service.name}}
                    <span class="badge badge-default badge-pill" *ngIf="node.implicit">(implicit)</span>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-block container content-block mainContent" *ngIf="getAllSelectedServices().length < 1">
        <p class="card-text text-muted no-services">
          <br/>&nbsp;Please select at least one service component before checkout.
          <br/>&nbsp;<u><a class="cursor-pointer" (click)="navigateToPreviousPage()">Add More Service Components</a></u>.
        </p>
      </div>
      <div class="card-footer title text-right">
        <a class="btn btn-danger cursor-pointer" (click)="navigateToPreviousPage()">Add More</a>
        <a class="btn btn-danger cursor-pointer" (click)="checkout()"
          [ngClass]="getAllSelectedServices().length == 0 ? 'disabled' : ''" >Checkout</a>
      </div>
    </div>
  </div>
</div>