<div class="container row justify-content-md-center" *ngIf="!deploymentInProgress && !deploymentDone">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <div class="card wizardcard">
      <div class="card-header title">
        <h5>Preparing to deploy</h5>
      </div>
      <div class="card-block container content-block mainContent">
          <div class="col-md-12">
            <h5>Deployment Parameters:</h5>
          </div>
          <div class="col-md-12">
            <div *ngFor="let parameterName of parameterNames">
              <div class="form-group row">
                <label for="txt{{parameterName}}" class="col-4 col-form-label text-right">{{deploymentParameters[parameterName]}}:</label>
                <div class="col-8">
                  <input class="form-control" type="text" id="txt{{parameterName}}" placeholder="{{deploymentParameters[parameterName]}}">
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="card-footer title text-right">
        <a class="btn btn-danger cursor-pointer" (click)="startDeployment()" *ngIf="!deploymentInProgress">Deploy</a>
        <a class="btn btn-danger cursor-pointer" (click)="cancel()">Cancel</a>
      </div>
    </div>
  </div>
</div>

<div class="container row justify-content-md-center" *ngIf="deploymentInProgress || deploymentDone">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <div class="card wizardcard">
      <div class="card-header title">
        <h5 *ngIf="!deploymentDone">Deploying the solution</h5>
        <h5 *ngIf="deploymentDone">Deployment completed</h5>
      </div>
      <div class="card-block container content-block mainContent">
        <div class="col-md-12">
          <h5>Deployment Logs:</h5>
        </div>
        <div class="col-md-12">
          <textarea id="txtLogs" rows="13"  readonly="readonly" class="form-control deploymentLogs">{{deploymentLogs}}</textarea>
        </div>
      </div>
      <div class="card-footer title">
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/processing.gif" class="deployProcessing" *ngIf="!deploymentDone"/>
          </div>
          <div class="col-md-10 text-right">
            <a class="btn btn-danger cursor-pointer" (click)="startDeploymentAgain()" *ngIf="!deploymentInProgress && deploymentDone">Re-deploy</a>
            <a class="btn btn-danger cursor-pointer" (click)="startDeployment()" *ngIf="!deploymentInProgress && !deploymentDone">Deploy</a>
            <a class="btn btn-danger cursor-pointer" (click)="cancel()" [ngClass]="deploymentInProgress || !deploymentDone ? 'disabled' : ''">Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>