<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <title>Login Form</title>
	
	    <!-- CSS -->
	    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" />
	    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" />
	    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap-grid.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/indigo-pink.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/app.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/login.css}" />
	</head>

	<body>
	
	    <div th:replace="/fragments/header :: header" />
	
	    <section class="login-page">
	    	<article class="row">
		        <article class="col-md-6 register">
		            <img th:src="@{/assets/images/Login_icon.png}" class="login-icon" />
					<article class="register-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat.</article>
		            <button type="button" class="btn btn-secondary">Sign In</button>
		        </article>
		
		        <article class="col-md-6 login">
		        	<form role="form" action="login" method="post" class="login-form">
			            <article class="welcome-header">Welcome...</article>
			            <article class="sso-title">
			                <span class="fa fa-lock"></span> Login to SSO Sever</article>
			            <article class="username-pwd">
			                <article class="form-group">
			                    <input type="text" class="form-control" name="sso-username" id="sso-username" placeholder="Username"/>
			                </article>
			                <article class="form-group">
			                    <input type="password" autocomplete="off" class="form-control" name="sso-password" id="sso-password" placeholder="Password"/>
			                </article>
			            </article>
			            <article class="pull-right">
			            	<a href="javascript:void(0)" class="forgot-pwd">Forgot Password?</a>
			            </article>
			            <article class="row col-md-12 login-btns">
			                <button type="submit" class="btn btn-secondary btn-login">Login</button>
			                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			                <button type="reset" class="btn btn-secondary btn-clear">Clear</button>
			            </article>
			        </form>
		        </article>
	        </article>
	        <article class="row">
	        	<article class="col-md-12 alert alert-danger" th:if="${param.error}">
	        		Error logging in.
	        	</article>
	        	<article class="col-md-12 alert alert-danger" th:if="${param.logout}">
	        		You have been logged out.
	        	</article>
	        </article>
	    </section>
	
	    <div th:replace="/fragments/footer :: footer" />
	    
	    <!-- Javascript -->
    	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    	<script type="text/javascript" th:src="@{/assets/js/app-script.js}"></script>
	</body>
</html>